.footer {
    &__container {
        @include flex-all-sb;
        padding-top: 24px;
        padding-bottom: 20px;
        background-color: $color-main;
        color: $color-light;
    }
    &__left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__text {
        margin-bottom: 6px;
        font-family: 'TTFirsNeue';
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: $color-bg-input;
    }
    &__center {
        max-width: 361px;
        margin-left: -123px;
    }
    &__quote {
        color: $color-grey;
    }
    &__descr {
        margin-bottom: 8px;
        color: $color-grey;
    }
    &__social {
        @include flex-all-center;
        
    }
}
.social {
    &__link svg {
        fill: $color-grey;
        transition: fill 0.3s ease-in-out;
        &:focus {
            fill: $color-pimary-dark;
        }
        &:hover {
            fill: $color-pimary;
        }
        &:active {
            fill: $color-pimary-medium;
        }
    }
    &--ok {
        margin-right: 20px;
    }
    
}