html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

body {
    min-width: 320px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 315px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.btn {
    display: inline-block;
    background: $color-pimary;
    color: $color-light;
    padding: 15px 22px; 
    text-decoration: none;
}

.title {
    margin: 0;
    font-family: "TTFirsNeue";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
}

.subtitle {
    margin: 0;
    font-family: "TTFirsNeue";
    font-weight: 400;
    font-size: 24px;
    line-height: 22px;
}

.descr {
    margin: 0;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $color-main;
}

.label {
    position: absolute;
    padding: 7px 15px;
    right: 15px;
    top: 15px;
    background-color: $color-main;
    color: $color-light;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    &--projects {
        right: 6px;
        top: 9px;
    }
}